extends ../layout.jade
block contenido

  div(id="contenedor")
  section
    div(class="text-center")
      h1(class="lobster celeste mediano" id="tamletra") Complejo Educativo John F. Kennedy
      p(class="merriweather celeste peque espacio-arriba2" id="correo") Personal de nuestra Institución
      each personal in listaPersonal
        div(class="col-md-3 col-sm-3 col-xs-16 inline-block")
          article(class="card imagenes animated fadeInUp merriweather retraso1 espacio-arriba2")
            h5(class="")= personal.titulo
            img(src="#{personal.image.url}" class="col-md-12 quitar-float")
            p(class="text-center") #[small(class="") #{personal.otros}]


aside(id="sidebar")
  section(class="widget")
    h4(class="widgettitle") Formulario de Acceso
    form(action="/admin/adminPers" method="post")
      div(class="form-group")
        label Usuario
        input(type="text" name="usuario" placeholder="login" class="form-control")
      div(class="form-group")
        label Contraseña
        input(type="password" name="password" placeholder="Contraseña de Administrador" class="form-control")
      div(class="form-group text-right")
        input(type="submit" class="btn btn-info" value="Iniciar")
