extends ./layout.jade
block contenido
  body
    div(class="col-md-13 col-sm-12 col-xs-11 text-center")
      h1(class="lobster mediana  animated wobble retraso1" id="tamletra") Bienvenidos/as!!
      img(src="imagenes/monograma.jpg" class="animated tada" alt="")
      br
      br
      h3(class="merriweather  peque espacio-arriba2" id="correo") Institución Educativa: Complejo Educativo John F. Kennedy
      h3(class="merriweather  peque espacio-arriba2" id="correo") Código: 13385
      h3(class="merriweather  peque espacio-arriba2" id="correo") Nombre del director: Prof. Luis Bonerge Callejas
      h3(class="merriweather  peque espacio-arriba2" id="correo") Niveles: Primero, Segundo, Tercer Ciclo y Bachillerato
      
      br
      br
      br
