extends ./layout.jade
block contenido

  div(id="content" class="espacio-arriba espacio-arriba2")
  article(class="post clearfix")

    header(class="card")
      h1(class="post-title text-center")
        a(href="#") MISIÓN
      p(class="post-meta")
        time(class="post-date" datetime="2011-05-08" pubdate) Noviembre 4, 2017

      figure(class="post-image text-center")
        img(height="100px" src="imagenes/monograma.jpg")
      p(class="merriweather") Institución formadora de niños, niñas y jovenes responsables con caracteristicas e investigativas, tolerantes, respetuosos de los derechos de los demás, dotados de una calidad humana, disciplinados, con habilidades y destrezas pedagogicas que respondan al desarrollo antual mediante el apoyo del equipo docente, recursos tecnologicos, participacion activa de padres y madres de familia, instituciones gubernamentales y no gubernamentales.
      br 

  br 
  br 
  article(class="post clearfix")

    header(class="card")
      h1(class="post-title text-center")
        a(href="#") VISIÓN
      p(class="post-meta")
        time(class="post-date" datetime="2011-05-08" pubdate) Noviembre 4, 2017
      figure(class="post-image text-center")
        img(height="100px" src="imagenes/monograma.jpg") 
      p(class="merriweather") Ser una Institución lider, formadora de jovenes con calidad educativa capaces de integrarse a las exigencias de la sociedad.
      br 
br 
br
