extends ./layout.jade
block contenido
  
  section
    div(class="text-center")
      h1(class="lobster celeste mediano" id="tamletra") Recorrido por la institución
      
    div(class="embed-responsive embed-responsive-16by9")
      video(class="embed-responsive-item" src="/imagenes/kennedy.mov" controls)
    br 
    br 
    br 
    br
    
